@page "/"
@using Chat.Core.ViewModel
@inject HomeViewModel ViewModel;
@using System.Collections.ObjectModel
@inherits BaseComponent

<div style="height:300px;overflow: auto;">
    @foreach (var message in ViewModel.messages)
    {
        <MudCard>
            <MudCardContent>
                <MudText Typo="Typo.body1" Color="Color.Primary">@message.Name</MudText>
                <MudText Typo="Typo.body2">@message.Body</MudText>
            </MudCardContent>
        </MudCard>
        <br />
    }
</div>

<div style="height:auto;overflow: auto;">
    <MudTextField @bind-Value="ViewModel.Name" Label="Name" Variant="Variant.Outlined"></MudTextField>
    <MudTextField @bind-Value="ViewModel.Message" Label="Message" Variant="Variant.Outlined"></MudTextField>
    <br />
    <MudButton Variant="Variant.Filled"
               FullWidth="true"
               OnClick="ViewModel.Broadcast"
               Color="Color.Primary">Send</MudButton>
</div>

@code{ protected override void OnInitialized() => SetViewModel(ViewModel); }