name: Chat.Blazor

on:
  push:
    paths-ignore:
      - 'Chat.Mobile/**'
      - 'Chat.Hub/**'
      - 'Chat.Test.**'
      - '**/microsoft-chat-mobile-ios.yml'
      - '**/microsoft-chat-mobile-android.yml'
      - '**/main_microsoft_chat.yml'
      - 'README.md'
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Build with dotnet
        run: | 
          cd Chat.Blazor        
          dotnet workload restore     
          dotnet build -c Release
          dotnet publish -c Release -o ${{env.DOTNET_ROOT}}/myapp
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp


  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: .net-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'microsoft-chat-blazor'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_4EC55626E3CD4A8CA9E65DDDBA006E2F }}
          package: .
